################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JAProjekt/.vs/JAProjekt/v16/Browse.VC.opendb
